<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: #4CAF50">Welcome to login Page!!</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
    <h2 style="color: blueviolet">Forgot password click below</h2>
    <a href="{% url 'password_change' %}">Password change here</a>
</form>
<h1 style="color: red">Don't have account Register Here!!</h1>
<a href="{% url 'signup' %}">Register page</a>
</body>
</html>